body{
    background-color: gray;
    background-image: url("../moroccan-flower-dark.png");
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}
.logo{
    text-align: left;
    margin-left: 10px;
}
header{
    text-align: center;
    font-size: 1.4rem;
    color: whitesmoke;
    
}
.container {
    width: 80%;
    margin: auto;
}
.profile-pic{
    text-align: center;
    margin-block: 40px;
    border-radius: 50%;
    
}
.about{
    padding:10px;
    background-color: white;
    background-image: url(../moroccan-flower.png);
    background-size: cover;
    border: 5px dashed black;
}
.education{
    background-color: white;
    background-image: url(../moroccan-flower.png);
    background-size: cover;
    margin-top: 30px;
    padding: 10px;
    border: 5px solid black;
}
.skills{
    background-color: #f0f0f0;
    background-image: url(../moroccan-flower.png);
    background-size: cover;
    margin-top: 30px;
    padding: 10px;
    border: 5px solid black;
}
.projects{
    background-color: #f0f0f0;
    background-image: url(../moroccan-flower.png);
    background-size: cover;
    margin-top: 30px;
    padding: 10px;
    border: black 5px solid;
}
.certifications{
    background-color: white;
    background-image: url(../moroccan-flower.png);
    background-size: cover;
    margin-top: 30px;
    padding: 10px;
    border: 5px solid black;
}
.contact{  
    background-color: #f0f0f0;
    background-image: url(../moroccan-flower.png);
    background-size: cover;
    margin-top: 30px;
    padding: 10px;
    border: 5px solid black
}
a{
    color: blue;
}
a:hover,a:focus-visible{
    color: purple;
}
a:active{
    color: black;
}
hr{
    height: 5px;
    background-color: black;
    margin: 40px 0;
}
footer{
    margin: 40px 0;
    padding: 10px;
    text-align: center  ;
    background: black;
    color: white;
}